@page "/addEstate"
@using Microsoft.AspNetCore.Authorization;
@using TeamRedzFastigheter.Shared.Models.RealEstateModel
@using Microsoft.AspNetCore.Components.Authorization
@using TeamRedzFastigheter.Shared.Models.UserModel
@inject Data.Services.UserService UserService
@inject Data.Services.RealEstateService RealEstateService
@inject Data.LoggedInData LID
@attribute [Authorize]
<style>
    form {
        width: 100%;
    }
</style>
<html>
<head>
    <title>Lägg upp annons</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body class=form-body>
    <div class="testbox">
        <form action="/">
            <div class="banner">
                <form-h1 style="font-weight:600">Lägg upp annons</form-h1>
            </div>

            <div class="item">
                <p>Titel</p>
                <div class="name-item">
                    <input type="text" name="name" @bind="RealEstate.Title" placeholder="Skriv namnet på din annons" />
                </div>

            </div>
            <div class="question">
                <p>Typ av fastighet</p>
                <div class="question-answer">
                    <div>
                        <input type="radio" value="none" id="radio_1" checked="@(RealEstate.Type == 1)" @onchange="@(()=> RealEstate.Type = 1)" name="type" />
                        <label for="radio_1" class="radio"><span>Lägenhet</span></label>
                    </div>
                    <div>
                        <input type="radio" value="none" id="radio_2" checked="@(RealEstate.Type == 2)" @onchange="@(()=> RealEstate.Type = 2)" name="type" />
                        <label for="radio_2" class="radio"><span>Villa</span></label>
                    </div>
                </div>
            </div>
            <p>Address</p>
            <div class="name-item">
                <input type="text" name="address" @bind="RealEstate.Address" placeholder="Fastighetens Address" />
            </div>
            <div class="item">
                <p>Beskrivning av fastighet</p>
                <textarea @bind="RealEstate.Description" rows="3"></textarea>
            </div>
            <div class="question">
                <p>Kan hyras?</p>
                <div class="question-answer">
                    <div>
                        <input type="radio" value="none" id="radio_3" checked="@(RealEstate.CanBeRented == true)" @onchange="@(()=> RealEstate.CanBeRented = true)" name="canberented" />
                        <label for="radio_3" class="radio"><span>Ja</span></label>
                    </div>
                    <div>
                        <input type="radio" value="none" id="radio_4" checked="@(RealEstate.CanBeRented == false)" @onchange="@(()=> RealEstate.CanBeRented = false)" name="canberented" />
                        <label for="radio_4" class="radio"><span>Nej</span></label>
                    </div>
                </div>
            </div>
            <div>
                <p>Byggår</p>
                <select required @bind="RealEstate.ConstructionYear">
                    @for (int y = 2020; y > 1600; y--)
                    {
                        <option value="@y">@y</option>
                    }
                </select>
            </div>


            <div class="item">
                Pris vid köp:<input @bind="RealEstate.PurchasePrice" rows="1">kr
            </div>
            @if (RealEstate.CanBeRented)
            {
            <div class="item">
                Pris vid uthyrning:<input @bind="RealEstate.RentingPrice" rows="1">kr
            </div>
            }
            <p>Kontakt Information</p>
            <div class="name-item">
                <input type="text" name="address" @bind="RealEstate.Contact" placeholder="E.g Telefonnummer / epost" />
            </div>
            <div class="btn-block">
                <div class="btn btn-primary" @onclick="@Upload">Lägg upp annons</div>
            </div>
        </form>
    </div>
</body>
</html>

@code {

    RealEstateDto RealEstate = new RealEstateDto();
    UserDto user;
    bool Success;

    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }

    async void Upload()
    {

        var authstate = await AuthState;
        var token = await LID.GetToken();
        RealEstate.AdCreated = DateTime.Now;
        RealEstate.Address = "TempAdr";
        RealEstate.Contact = "TempContact";
        user = await UserService.GetUser(authstate.User.Claims.FirstOrDefault(x => x.Type.Equals("unique_name", StringComparison.OrdinalIgnoreCase))?.Value);
        Success = await RealEstateService.CreateRealestate(user.Id, RealEstate, token);



    }

}